In [2]:
x=5.0
y=10
temp=x
x=y
y=temp
print("print after swaping")
print('x=', x)
print('y=', y)

print after swaping
x= 10
y= 5.0

In [4]:
num=6.25
sqrt_num=num**.5
print("the square root of num=",sqrt_num)

the square root of num= 2.5

In [6]:
import cmath
a=1
b=5
c=6
d=(b**2)-(4*a*c)
root1=(-b-cmath.sqrt(d))/(2*a)
root2=(-b+cmath.sqrt(d))/(2*a)
print('the roots are')
print(root1)
print(root2)

the roots are
(-3+0j)
(-2+0j)

In [11]:
a=4
b=4
c=6
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("area of the triangle=",area)

area of the triangle= 7.937253933193772

In [13]:
km=5.5
conv_fac=.621371
miles=km*conv_fac
print(miles)

3.4175405

In [16]:
c=37.5
f=((c*1.8)+32)
print(f)

99.5

In [ ]:
n=float(input("enter the number"))
if n>0:
    print("number is positive")
elif n==0:
    print("number is zero")
else:
    print("number is negative")

In [4]:
year=3000
if (year%4)==0:
    if (year%100)==0:
        if(year%400)==0:
            print('is a leap year')
        else:
            print('not a leap year')
    else:
        print('is a leap year')
else:
    print('is not a leap year')

not a leap year

In [9]:
n1=300
n2=11
n3=800
if n1>n2 and n1>n3:
    print('n1 is greater than n2 and n3')
elif n2>n1 and n2>n3:
    print('n2 greater than n1 and n3')
else:
    print('n3 is greater')

n3 is greater

In [11]:
#prime number
n=4
if n>1:
    for i in range(2,n):
        if (n%i)==0:
            print("n is not a prime number")
            
        else:
            print("is a prime number")

        break
else:
    print("is not a prime number")

n is not a prime number

In [ ]:
y=3000